nav{
    width:100%;
    height:80px;
    background-color:#ce0505;
}
.logo{
    font-size:36px;
    text-align:center;
    color:red;
    font-weight:600;
    font-family:poppins;
    height:56px;
    width:56px;
    background-color:white;
    margin-left:112px;
    margin-bottom:11px;
    border-radius:50%;
    margin-top:15px;
    display:inline-block;
    margin-right:900px;
}
#log{
     width: 43px;
  height: 23px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right:20px;
}
#bt{
    width: 181px;
  height: 46px;
  border-radius: 3px;
  border: solid 1px #ffffff;
  

  color:white;
  font-family: Poppins;
  font-size: 16px;
  font-weight:solid;
  background-color:#ce0505;
}
.im{
     background:url("breakfast.png");
     width:1130px;
     height:400px;
    margin-top:50px;
    margin-left:113px;
    object-fit:contain;
     background-repeat:no-repeat;
   border-size:cover;
}
#ib{
    align:center;
    width:242px;
  height: 48px;
  opacity: 0.8;
  border-radius: 3px;
  border-radius:0%;
  border-color:white;
  background-color: #ffffff;
  color:#192f60;
  margin-top:320px;
  
  display:inline-block;
}
main {
	max-width: 1200px;
	margin: auto;
}
.tabs {
	position: relative;
	clear: both;
  color:#192f60;
}

.tabs .tab {
	float: left;
}

.tabs .tab .content {
	display: none;
	position: absolute;
	background-color: white;
	left: 0px;
	width: 100%;
	padding: 20px 20px 40px 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.checkboxtab {
	display: none;
}

.tab label {
	/* margin-right: 10px; */
	/* position: relative; 
	this is only for z-index*/
	display: inline-block;
	font-size: 19px;
	font-weight: 500;
	padding: 20px;
}

.checkboxtab:checked~label {
	font-weight: bold;
	border-bottom: 1px solid orangered;
	/* z-index: 1; */
}

.checkboxtab:checked~.content {
	display: block;
}

.content h3 {
	margin: 30px 0;
}

.content p {
	margin-bottom: 50px;
}

.content h4 {
	font-weight: bold;
	margin: 20px 0;
}

.contact-number p {
	color: #f67082;
}

.address h2 {
	margin: 30px 0;
	font-weight: 900;
	font-size: 18px;
}
